black
python-dotenv
prefect
pytest
beautifulsoup4
psycopg2
looker-sdk
pytube3
wikitables
numpy
pandas
bs4
cryptography>=39.0.1
certifi>=2022.12.07
sqlparse>=0.4.4
llama-cpp-python[server]
sentencepiece==0.1.98
sqlparse
