@font-face {
    font-style: normal;
    font-family: "Comic Sans MS";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Comic Sans MS";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Comic Sans MS";
    src: local("Comic Sans MS");
    unicode-range: U+0-FF, U+2E80-9FFF, U+F900-FAFF, U+FE30-FE4F, U+20000-2FA1F
}

@font-face {
    font-style: auto;
    font-family: "Comic Sans MS";
    src: local("Comic Sans MS");
    unicode-range: U+0-FF, U+2E80-9FFF, U+F900-FAFF, U+FE30-FE4F, U+20000-2FA1F
}

@font-face {
    font-style: normal;
    font-family: "Comic Sans MS";
    src: local("Comic Code");
    unicode-range: U+0-FF
}

@font-face {
    font-style: auto;
    font-family: "Comic Sans MS";
    src: local("Comic Code");
    unicode-range: U+0-FF
}

pre, code, tt, kbd, samp, var, span, td{
    font-family: "Comic Code" !important;
    font-size: 11.7px !important;
}

pre *, code *, tt *, kbd *, samp *, var *, span *, td * {
    font-family: "Comic Code" !important;
    font-size: 11.7px !important;
}

textarea{
    font-family: "Comic Code" !important;
}

textarea * {
    font-family: "Comic Code" !important;
}

:not(pre):not(code):not(textarea):not(tt):not(kbd):not(samp):not(var):not(span):not(td) {
    font-family: "Comic Sans MS" !important;
}

@font-face {
    font-style: normal;
    font-family:  "Liberation Mono" ;
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family:  "Liberation Mono" ;
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family:  "SF Mono" ;
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family:  "SF Mono" ;
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "-apple-system";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "-apple-system";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Andale Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Andale Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Apple Color Emoji";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Apple Color Emoji";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Arial";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Arial";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "BlinkMacSystemFont";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "BlinkMacSystemFont";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Consolas";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Consolas";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Helvetica";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Helvetica";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Liberation Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Liberation Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Menlo";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Menlo";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Noto Sans";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Noto Sans";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "PT Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "PT Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Roboto";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Roboto";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Roboto Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Roboto Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Roboto Mono, monospace";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Roboto Mono, monospace";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "SF Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "SF Mono";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "SFMono-Regular";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "SFMono-Regular";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Segoe UI";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Segoe UI";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "Segoe UI Emoji";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "Segoe UI Emoji";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: monospace;
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: monospace;
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: monospace;
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: monospace;
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: sans-serif;
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: sans-serif;
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "ui-monospace";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "ui-monospace";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "var(--body-font-size, 14px)";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "var(--body-font-size, 14px)";
    src: local("Comic Code")
}

@font-face {
    font-style: normal;
    font-family: "var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace)";
    src: local("Comic Code")
}

@font-face {
    font-style: auto;
    font-family: "var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace)";
    src: local("Comic Code")
}